:root {
	--size-cover: 200px;
	--size-depth: 10px;
	--cover-fb-width: var(--size-cover);
	--cover-fb-height: var(--size-cover);
	--cover-sd-width: var(--size-depth);
	--cover-sd-height: var(--size-cover);
	--cover-bt-width: var(--size-cover);
	--cover-bt-height: var(--size-depth);
 
	--size-card-items: 220px;

	--bg-default: #cfcfcf;
	--bg-primary: #acacac;
	--nav-color: #929292;
}

@media only screen and (min-width: 500px) and (max-width: 2500px) {
	body {
		background: var(--bg-default);
		z-index: 2; /*Position of div back of menubar*/
	}

	.center {
		text-align: center;
		padding: 10px auto;
	}

	/* Conteudo atualizado INICIO*/

	
	/* MENU - INICIO */
	nav {
		display: flex;
	}

	nav {
		position: fixed;
		z-index: 3; /*Position of menubar about of div .body-content*/
		padding: 5px;
		background: var(--nav-color);
		box-shadow: 0px 2px 3px #333;
		border-bottom: 1px solid #000;
		width: 100%; 
	}

	nav ul {
		list-style:none;
		position:relative;
		float:left;
		margin: 0px 130px;
		padding:0;
	}

	nav ul a {
		display:block;
		color:#000;
		text-decoration:none;
		font-weight: 700;
		font-size: 17px;
		font-family: sans-serif;
		line-height: 32px;
		padding: 0px 15px;
	}
	nav ul a:hover, 
	nav ul ul a:hover {
		color: #f00;
	}
	nav ul li {
		position:relative;
		float:left;
		margin:0;
		padding:0;
	}
	nav ul li:hover {
		color: #000;
	}
	nav ul ul {
		display:none;
		position:absolute;
		margin: 0px 0px; 
		top:100%;
		left:0;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		background: #ccc;
		box-shadow: 2px 5px 6px #ccc;
		padding:0;
	}
	nav ul ul li {
		float:none;
		width:200px;
	}
	nav ul ul a {
		line-height:120%;
		padding:10px 15px;
	}
	nav ul ul ul {
		top:0;
		left:100%;
	}
	nav ul li:hover > ul {
		display:block;
	}
	
	/* MENU - FIM */

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 80px;
		gap: 25px;
	}
	
	.container {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	
	.container__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
		margin: 0 30px;
	}

	.container__list__item {
		display: flex;
		flex-direction: column;
		background: var(--bg-primary);
		padding: 15px 25px;
		border-radius: 15px;
		gap: 15px;
	}

	.container__list__item--img {
		width: 250px;
		height: 180px;
	}

	.container__list__item--name {
		text-align: center;
	}

	.container__list__item__info {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.container__list__item__info--band, 
	.container__list__item__info--album,  
	.container__list__item__info--name {
		text-align: center;
		width: var(--size-card-items);
	}

	.container__list__item__info--band {
		font-size: 20px;
	}
	
	.container__list__item__info--album {
		font-size: 15px;
	}
	
	.container__list__item__info--name {
		font-size: 25px;
	}



	/* COVER SONG - INICIO */

	/* keyframes for rotating animation */
	@-webkit-keyframes spin {
		from { transform: rotateY(0); }
		to   { transform: rotateY(360deg); }
	}

	/* scene wrapper */
	.wrapper{
		height: 250px;
		margin-top:0px;
		position:relative;
		perspective: 800;
		perspective-origin: 50% 100px;
	}


	/* POSITION COVER - INICIO */

	.cube {
		top: -40px;
		position: relative;
		margin: 0 auto;
		width: 200px;
		transform-style: preserve-3d;
		transition: all 0.5s ease-in-out; /* adicione a transição */
	}

	/* hover transformations */
	/* hover transformations */
	.cube:hover{
		top: -48px;
		transform: translateZ(100px) rotateX(-210deg) scale(1.5);
		transform-origin: top center;
		position: relative;
		margin: 0 auto;
		width: 200px;
		transform-style: preserve-3d;
		animation: spin 4s infinite linear;
		transition: all 1s linear;
		animation-delay: 1.3s; /* tempo de espera após a transição terminar */
	}

	.cube:not(:hover) {
		animation-play-state: paused; /* pausa a animação */
	}

	.cube:hover i{
		top:50px;
	}

	/* POSITION COVER - FIM */

	
	/* inner cube */
	i{
		position:absolute;
		top:60px;
		display:block;
		
		transition: all 1s linear;
	}
	i.front{
		transform: translateZ(10px);
		width:100px;
		height:100px;
	}
	i.back{
		transform: translateZ(0px) rotateY(180deg);
		width:100px;
		height:100px;
	}
	i.bottom{
		transform:rotateX(-90deg) translateY(0px);
		transform-origin: left bottom;
		width:100px;
		height:10px;
	}
	i.left{
		transform:rotateY(270deg) translateX(0px);
		transform-origin: center left;
		width:10px;
		height:100px;
	}
	i.right{
		transform:rotateY(-270deg) translateX(0px);
		transform-origin: top right;
		left:190px;
		width:10px;
		height:100px;
	}
	i.top{
		transform:rotateX(-270deg) translateY(0px);
		transform-origin: left top;
		width:100px;
		height:10px;
	}

	/* SIZE OF COVER CD */
	i.left img, i.right img,
	i.left, i.right {
		width: var(--cover-sd-width);
		height: var(--cover-sd-height);
	}
	i.top img, i.bottom img,
	i.top, i.bottom {
		width: var(--cover-bt-width);
		height: var(--cover-bt-height);
	}
	i.front img, i.back img,
	i.front, i.back {
		width: var(--cover-fb-width);
		height: var(--cover-fb-height);
	}
	i.left img, i.left,
	i.top, i.bottom,
	i.right {
		background: url(../data/image/cover/horizontal-lines.png);
		background-size: 10px;
	}
	i.front, i.back {
		background: url(../data/image/cover/na.png);
		background-size: 100px;
	}

	/* COVER SONG - FIM */

	/* Conteudo atualizado FIM */
	
	
	

	
	
	/*Positions Body*/
	.left-align {
		margin-top: 80px;
	}
	.center-align {
		margin-top: 40px;
		margin-left: 250px;
	}
}

/* Exceptions of size Background */

@media only screen and (min-width: 500px) and (max-width: 1250px) {
	.body-content {
		background-size: 100% 100%;
	}
}

@media only screen and (min-width: 1250px) and (max-width: 2500px) {
	.body-content {
		background-size: 100%;
	}
}